In [ ]:
# demonstrating the (=) equal operator
a = 10
print(a)

In [ ]:
# demonstrating the (+) operator 
a = 5
a += 5
print(a)

In [ ]:
# demonstrating the (-) subtracting operator 
a = 10
a -= 5
print(a)

In [ ]:
# demonstrating the (*) multiply operator
a = 10
a *= 10
print(a)

In [ ]:
# demonstrating the (/) divide operator 
a = 100
a /= 50
print(a)

In [ ]:
# demonstrating (%) modulus operator; NB The modulus is another name for the remainder after division
a = 17
a %= 2
print(a)

In [ ]:
# again
a = 100
a %= 71
print(a)

In [ ]:
# demonstrating the (88) exponent operator
a = 5
a **=2
print(a)

In [ ]:
# again
a = 3
a **= 3
print(a)

In [ ]:
# demonstrating the (//) floor division operator;
a = 10
a //= 3.5
print(a)

In [ ]:
# again
a = 150
a //= 7
print(a)

In [ ]:
# ARITHMETIC OPERATORS

In [ ]:
# demonstrating the (+) addition operator
a = 5
b = 10
print(a + b)

In [ ]:
# demonstrating the (-) subtraction operator
a = 100
b = 99
print(a - b)

In [ ]:
# demonstrating the multicplication operator 
a = 20
b = 20
print(a * b)

In [ ]:
# demonstrating the division operator 
a = 10
b =5
print(a / b)

In [ ]:
# demonstrating the modulus operator NB Divides left-hand operand by right-hand operand and returns the remainder
a = 100
b = 20
print(a % b)

In [ ]:
# demonstrating the (**) exponent operator
a = 9
print (a **2)

In [ ]:
# demonstrating the (//) floor division operator 
a = 9
b = 7
print(a // b)

In [ ]:
# COMPARISON OPERATORS

In [ ]:
# demonstrating the == operator
a = 5
b = 5
print(a == b)

In [ ]:
# demonstrating the (!=) not equial to operator
a = 50
b = 50
print(a != b)

In [ ]:
# greater than (>) operator 
a = 10
b = 5
print(a > b)

In [ ]:
# demonstrating the (>=) operator
a = 50
b = 49
print(a >= b)

In [ ]:
# demonstrating the (<=) operator
a = 60
b = 98
print (a <= b)

In [ ]:
# LOGICAL OPERATORS

In [ ]:
 # demonstrating the 'and' operator
a = 50
b = 40
if a >=50 and b < 100:
    print("semo a caval")

In [ ]:
 # demonstrating the 'or' operator
a = 50
b = 800
if a >500 or b > 500:
    print("te ga intivÃ¡")

In [ ]:
# demonstrating the 'not' operator NB Returns True if the statement is false and False if the statement is true
a = 10
if not (a > 10):
    print("yes")
else:
        print("no")

In [ ]:
# MEMBERSHIP OPERATORS

In [ ]:
# demonstrating the 'in' operator
serie_b = ["Parma", "Reggiana", "Triestina"]
print ("Parma" in serie_b)

In [ ]:
# demonstrating the 'not in' operator
pussa = ["Germania", "Austria", "Francia"]
print ("Austria" not in pussa)

In [ ]:
# BITWISE OPERATORS

In [2]:
def new_player():
    print("welcome")
new_player()

welcome

In [6]:
def new_player(name):
    return f"Benvenuto a bordo, {name}!"
print(new_player("Paolo"))

Benvenuto a bordo, Paolo!

In [9]:
def impl_memo(x):
    a = x + 1
    b = x + 2
    return a, b 

x, y = impl_memo(100)
print(x, y)

101 102

In [10]:
5 + 5

10

In [12]:
list_2 = [1, 1100.1, "America"]
print(list_2)

[1, 1100.1, 'America']

In [13]:
planets = ["mercury", "pluto", "venus"]
len(planets)

3

In [15]:
planets.append("Earth")
print(planets)
len(planets)

['mercury', 'pluto', 'venus', 'World', 'Earth']

5

In [16]:
planets.remove("World")

In [17]:
print(planets)

['mercury', 'pluto', 'venus', 'Earth']

In [18]:
planets.insert(0, "Maialiii")
print(planets)

['Maialiii', 'mercury', 'pluto', 'venus', 'Earth']

In [19]:
milan = ["Donnarumma", "Albiol", "Pappalardo", "Paqueta"]
juventus = ["Buffonna", "Ettore", "Bambola Ramona"] 
combo = milan + juventus
print(combo)
print(len(combo))

['Donnarumma', 'Albiol', 'Pappalardo', 'Paqueta', 'Buffonna', 'Ettore', 'Bambola Ramona']
7

In [20]:
milan.sort()
print(milan)

['Albiol', 'Donnarumma', 'Pappalardo', 'Paqueta']

In [21]:
milan.sort(reverse = True)
print(milan)

['Paqueta', 'Pappalardo', 'Donnarumma', 'Albiol']

In [23]:
combo[2:8]

['Pappalardo', 'Paqueta', 'Buffonna', 'Ettore', 'Bambola Ramona']

In [29]:
combo[0:8:3]

['Donnarumma', 'Paqueta', 'Bambola Ramona']

In [32]:
listacomunista = [1,2,15,6,100]
tup_de_scopp = (5,66,7,8,99)
print(max(listacomunista))
print(min(tup_de_scopp))

100
5

In [35]:
celestial_objects = ("Earth", "Saturn", "Pluto")
planet, gas_giant, dwarf_planet = celestial_objects
print(planet)
print(gas_giant)
print(dwarf_planet)

Earth
Saturn
Pluto

In [44]:
group_a = (1, 10.1, 89, 56, 1.1)
print(group_a)
print(len(group_a))
print(max(group_a))
print(min(group_a))
print(group_a[0])
print(group_a[2])

(1, 10.1, 89, 56, 1.1)
5
89
1
1
89